# Summary: Python dependencies for Urial
#
# Copyright 2024 Michael Hucka.
# License: MIT License – see file "LICENSE" in the project website.
# Website: https://github.com/mhucka/urial

appscript     == 1.2.2
plac          == 1.4.2
sidetrack     == 2.0.1
setuptools    >= 67.0.0
uritools      == 4.0.2
