# =============================================================================
# @file    requirements.txt
# @brief   Python dependencies for Urial
# @license Please see the file named LICENSE in the project directory
# @website https://github.com/mhucka/urial
# =============================================================================

appscript     == 1.2.2
plac          == 1.4.2
sidetrack     == 2.0.1
setuptools    >= 67.0.0
uritools      == 4.0.2
